[mysqld]

basedir=/app/mysql
datadir=/root/data/mysql
bindir=/app/mysql/bin
socket=/var/lib/mysql/mysql.sock

symbolic-links=0

log-error=/var/log/mysql/mysqld.log
pid-file=/app/mysql/mysqld.pid

collation-server=utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server=utf8

skip-grant-tables
user=root

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8